{% extends "base_generic.html" %}

{% block content %}
    <h1>Link List</h1>
    <a href='{% url "add_link" %}'>Add link</a>
    {% if link_list %}
    <ul>

      {% for link in link_list %}
      <li>
        <!-- <a href="{{ link.get_absolute_url }}">{{ link.name }} ({{ link.get_absolute_url }})</a> -->
        <a href="{% url 'links' %}{{ link.id }}">{{ link.name }} ({{ link.get_absolute_url }})</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no link in the library.</p>
    {% endif %}
{% endblock %}
