<!doctype html>
<html lang="en">
  <head>
    {% block title %}<title>Parser</title>{% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <!-- Добавление дополнительного статического CSS файла -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>

  <body>

      <div class="container-md">
        <!-- Весь контайнер страницы  -->
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'index' %}" class="nav-link px-2 link-dark">Home</a></li>
          <li><a href="{% url 'admin:index' %}" class="nav-link px-2 link-dark">Admin panel</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">!FAQs</a></li>
        </ul>

        <div class="col-md-3 text-end">
          {% if user.is_authenticated %}
            <a href="#" class="link-dark me-2">{{ user.get_username }}</a>
            <a type="button" class="btn btn-warning" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
          {% else %}
          <a href="{% url 'login'%}?next={{request.path}}"  type="button" class="btn btn-outline-primary me-2">Войти</a>
          <a href="#" type="button" class="btn btn-primary">Регистрация</a>
          {% endif %}


        </div>
      </header>

      <div class="vertical-menu">

        <div class=" ">
          <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Парсер
          </button>
          <ul class="dropdown-menu">
            <li><h6 class="dropdown-header">Парсер</h6></li>
            <li><a class="dropdown-item" href="{% url 'links' %}">Список ссылок</a></li>
            <li><a class="dropdown-item" href="{% url 'add_link' %}">Добавить ссылку</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
        <div class=" ">
          <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Приложение 2
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">func1</a></li>
            <li><a class="dropdown-item" href="#">func2</a></li>
            <li><a class="dropdown-item" href="#">func3</a></li>
          </ul>

        </div>


      </div>

      <div class="container">{% block content %}{% endblock %}</div>


    </div>

  </body>
</html>
